*{
margin:0;
padding:0;
-webkit-box-sizing:border-box;


}

body {
      background:url(https://www.google.com.mx/imgres?imgurl=https%3A%2F%2Fc4.staticflickr.com%2F4%2F3058%2F3011102699_3476ee6682_z.jpg%3Fzz%3D1&imgrefurl=https%3A%2F%2Fwww.flickr.com%2Fphotos%2Fnelsonphotography%2Falbums%2F72157607544254537%2F&docid=rWAmMQ-2E6eWQM&tbnid=6dreOXA6Ljpo4M%3A&vet=10ahUKEwjph9HLk-TTAhVG12MKHcGSBMA4ZBAzCEAoPjA-..i&w=500&h=335&bih=708&biw=1517&q=durango%20mexico&ved=0ahUKEwjph9HLk-TTAhVG12MKHcGSBMA4ZBAzCEAoPjA-&iact=mrc&uact=8#h=335&imgdii=C5dIFh6py8mX4M:&vet=10ahUKEwjph9HLk-TTAhVG12MKHcGSBMA4ZBAzCEAoPjA-..i&w=500) #000;
      background-size:cover;
      color:#fff;
      font-size: 16px;
      box-sizing:border-box;
      
}

.container{

      width="100%";
      max-width:1000px;
      box-sizing:border-box;
}

.wrap {
width: 90%;
Box-sizing:border-box;      
}

.widget{
width:40%;
margin: 2em;
}

.widget p {
    display: inline-block;
    line-height: 1em;

}

.fecha {
font-family: Oswald, Arial;
text-align:center;
font-size: 1.5em;
margin-bottom: 0.3125rem;
background: rgba(0, 0, 0,.5);
padding: 20px;
width:100%;
}

.reloj {
font-family: Oswald, Arial;
width: 100%;
padding: 20px;
font-size: 4em;
text-align:center;
background: rgba(0, 0, 0, 0.5);
}

.reloj .caja-segundos {
display: inline-block;
 
}


.reloj .segundos,
.reloj .ampm {
       font-size:2rem;
       display: block;
     


}



