

body {
 display:flex;
 align-items: center;
 background-image:
 url('https://www.imageupload.co.uk/images/2017/04/07/cubos.jpg');
 background-size: cover;
 color: #2f4f4f;
}




p {
   color:#ffffff;
   font-size:14px; 
   text-align: center;
   margin-left:auto;
   margin-right:auto;
}
